body {
    background: rgba(240, 239, 242, 1);
    max-width: 1512px;
}

.detail-content {
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
}

.detail-title {
    margin-bottom: 40px;
    padding-left: 10px;
    border-left: 5px solid black;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
}

.detail-table {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.detail-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: none;
}

.detail-table th,
.detail-table td {
    border-bottom: 3px solid rgba(240, 239, 242, 1);
    ;
    font-size: 15px;
    font-weight: bold;
}

.detail-table th {
    color: rgba(115, 115, 115, 1);
    padding: 25px 20px 25px 40px;
}

.detail-table td {
    padding: 25px 0;
}

.detail-table input {
    width: 100px;
    height: 30px;
    border: transparent;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0 40px;
}

.detail-table textarea {
    width: 300px;
    height: 70px;
    border: transparent;
    border-radius: 5px;
    margin-left: 40px;
    resize: none;
}

.detail-table td span:first-child {
    margin-right: 150px;
}

.name-row td,
.date-row td {
    padding-left: 60px;
}


.button-container {
    text-align: right;
}

.button-submit {
    display: inline-block;
    width: 100px;
    height: 45px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.approval-button-submit {
    display: inline-block;
    width: 100px;
    height: 45px;
    background-color: rgba(115, 115, 115, 1);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}