body{
    background: rgba(240, 239, 242, 1);
    max-width: 1512px;
}

.attendance-list-content{
    max-width: 800px;
    width: 100%;
    margin: 60px auto;

}

.list-title h2{
    margin: 40px 0;
    padding-left: 10px;
    border-left: 8px solid black;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
}

.day-navigation{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
}

.previous-day a,
.next-day a{
    color: rgba(115,115,115,1);
    font-size: 15px;
    font-weight: bold;
}

.today{
    font-weight: bold;
    font-size: 20px;
}

.attendance-list-table{
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.attendance-list-table table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border: none;
}

.attendance-list-table th,
.attendance-list-table td{
    padding: 10px 0;
    border-bottom: 3px solid rgba(240, 239, 242, 1);;
    color: rgba(115, 115, 115, 1);
    font-size: 15px;
    font-weight: bold;
}

.attendance-list-table a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

/*staff*/
.month-navigation {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 40px;
    border: none;
    border-radius: 10px;
}

.previous-month a,
.next-month a {
    color: rgba(115, 115, 115, 1);
    font-size: 15px;
    font-weight: bold;
}

.current-month {
    font-weight: bold;
    font-size: 20px;
}
